Header {background-color:bisque;
    padding: 10px;
    text-align: center;
    font-variant: small-caps;}
    
.lista {color: green;}

h1, h2, h3, h4, h5, h6{ font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;}

footer {background-color: beige;
    font-size: small;
    text-align: center;
    padding: 5px;}

#header { padding: 0%;
margin: 0%;}